{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <h3>All Video songs</h3>
    <hr>

<table width=100% border=1px>

{% for i in vlist %}
 
<tr>

<td width=50%>
Movie={{i.movie.title}}<br>
Director={{i.movie.director}}<br>
Year={{i.movie.year}}<br>
<img src="{{i.movie.photo.url}}" alt="movie photo" width=150 height=150>
</td>

<td width=50%>
Title={{i.title}}<br>
Genre=
{% if i.genre == 'H' %}HAPPY
{% elif i.genre == 'D' %}Devotional
{% elif i.genre == 'S' %}Sad
{% elif i.genre == 'C' %}Classic
{% else %}Melody
{% endif %}<br>

<!------to play or download video song----->
<div style="text-align:center">
<video controls width=300 height=200>
<source src="/media/{{i.song}}"/>
</video>

<a href="/media/{{i.song}}" download ><br>
<button>download video</button>
</a>
</div>

</td>

</tr>

{% endfor %}

</table>

</div>

{% endblock %}
